#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

/* Ensure footer is always at the bottom */
footer {
  margin-top: auto;
}

/* Desktop mode on mobile footer fix */
@media (min-width: 1024px) {
  #root {
    min-height: 100vh;
  }
}
